{% block extends %}
{{ "{% extends 'base_admin_lte.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block mainTitle %}" }}
    {{ "{% trans %}" }}index.title.{{ entity_singularized }}{{ "{% endtrans %}" }}
{{ "{% endblock %}" }}
{{ "{% block body %}" }}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-default color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <div class="box-body">
            <table id="datatable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                    {%- for field, metadata in fields if field != 'isActive'%}

                        <th>{{ "{% trans %}" }}{{ entity_singularized }}.{{ field }}{{ "{% endtrans %}" }}</th>

                    {%- endfor %}

                        <th>{{ "{% trans %}" }}{{ entity_singularized }}.actions{{ "{% endtrans %}" }}</th>
                    </tr>
                </thead>
                <tbody>
                {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
                    <tr>

                {%- for field, metadata in fields %}

                    {%- if loop.first and ('show' in actions) %}

                        <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                    {%- elseif field =='isActive' %}

                    {%- elseif metadata.type in ['datetime'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['date'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['time'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['array'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['boolean'] %}

                        <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}' }}</td>

                    {%- elseif metadata.type in ['text'] %}

                        <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|raw() }}' }}</td>

                    {%- else %}

                        <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                    {%- endif %}

                    {%- if loop.last %}

                        <td>
                            {%- for action in record_actions %}
<a class="btn btn-sm btn-info" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { '"~ identifier ~"': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ "{% trans %}" }}{{ entity_singularized }}.{{ action }}{{ "{% endtrans %}" }}</a>
                            {%- endfor %}
                        </td>

                    {%- endif %}
                {%- endfor %}

                    </tr>
                {{ '{% endfor %}' }}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-success">{{ "{% trans %}" }}create.new.{{ entity_singularized }}{{ "{% endtrans %}" }}</a>
        </div>
    </div>
    </div>
</div>
{{ "{% endblock %}" }}
{{ "{% block javascript %}
    {{ parent() }}"}}
    {{ "<script src=\"{{ asset('adminlte/js/run/run-datatable.js') }}\"></script>" }}
{{ "{% endblock %}" }}
{% endblock body %}
